# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.dvi

# Output
*.pdf
!handmade-figures/
!handmade-figures/*.pdf

# Generated figures
!figures/
!figures/*.pdf
figures/*.csv

# macOS
.DS_Store
