[package]
name = "copyrpc"
version = "0.1.0"
edition = "2024"

[dependencies]
mlx5 = { version = "0.1.0", path = "../mlx5" }
mlx5_sys = { version = "0.1.0", path = "../mlx5_sys" }

[dev-dependencies]
