[package]
name = "mlx5"
version = "0.1.0"
edition = "2024"

[dependencies]
ibverbs_sys = { version = "0.1.0", path = "../ibverbs_sys", features = ["ofed"] }
mlx5_sys = { version = "0.1.0", path = "../mlx5_sys" }
